<!DOCTYPE html>

<!--
States:
- 0: input ID  (self-paced)
- 1: instructions (self-paced)
- 2: trial stimuli (auto)
- 3: trial responses (self-paced)
- 4: end (exit plz, make sure to log)

typical path: 0-1-2-3-2-3-2-3-2-3-2-3-2-3-2-3-2-3-4



only really needs:
- text
- likert inputs panel
- button inputs panel
- ID input box

Dsecription of the panner node's features
https://developer.mozilla.org/en-US/docs/Web/API/PannerNode
-->

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Scenes Demo</title>
    <link rel="stylesheet" href="styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
  </head>
  <body>
    <div id="app">
      <div class="scene">

        <div class="userInfo" v-if="state=='WELCOME'">
          <p><b>Welcome to the JKLab!</b></p>
          <p>
            And thanks for participating in our spatial audio experiment!
          </p>
          <p>
            Please click the button below to proceed.
          </p>
          <button @click="welcomeProceed()"> Proceed </button>
        </div>

        <div class="userInfo" v-if="state=='USER_INFO'">
          <p> First, please enter the following information: </p>
          <form>
            <div>
              <label> UID (ask experimenter):</label> <br>
              <input
                type="text"
                v-model="UID"
              />
            </div> <br>

            <div>
              <label> Do you have normal or corrected-to-normal hearing and vision? </label> <br>
              <input type="radio" name="hearing_vision" id="yes" value="yes" v-model="hearing_vision">
              <label>Yes</label><br>
              <input type="radio" name="hearing_vision" id="no" value="no" v-model="hearing_vision">
              <label>No</label>
            </div><br>

            <label> What language or languages did you speak in your home as a child? </label><br>
            <input
              class="text_input"
              type="text"
              v-model="languages"/>
            <br><br>

            <label> What is your age? </label><br>
            <input
              class="text_input"
              type="number"
              v-model="age"/>
            <br><br>

            <label> What is your gender identity? </label><br>
            <input
              class="text_input"
              type="text"
              v-model="gender_identity"/>
            <br><br>

            <label> What is your race and/or ethnicity? </label><br>
            <input
              class="text_input"
              type="text"
              v-model="race"/>
            <br><br>

          </form> <br><br>

          <button @click="acceptInfo()" type="button">
            Submit
          </button>

        </div>

        <!-- stimulus display -->
        <div class="instruction" v-if="state=='INSTRUCT'">
          <p> <b> Instructions </b> </p>
          <p> Your task today is to try to listen to and comprehend a <b>target</b> speaker's voice while <b>other</b> voices speak over them.</p>
          <p> Sometimes the voices will sound spatially close to one another, other times they'll sound more spread out. The target voice will always be in the "center" of the audio space, but we'll also identify the speaker's voice before each trial.</p>
          <p> After listening to each set of voices, you'll rate how hard you felt it was to focus on the target voice, and then answer a listening comprehension question.</p>
          <button @click="confirmInstructions()">
            Got it!
          </button>
        </div>

        <div class="audioDemo" v-if="state=='DEMO'">

          <div v-if="substate=='DEMO_START'">
            <p> To start, we'll play some voice audio to help orient you to the listening task.
            </p>
            <button @click="startDemo()"> Okay! </button>
          </div>

          <div v-if="substate=='DEMO_AUDIO'">
            <span class="fixationcross"> + </span>
          </div>

          <!-- single audio demo -->
          <div v-if="substate=='DEMO_SINGLE'">
            <p> First, a single speaker on their own.</p>
            <button @click="singleAudioDemo(true)"> Listen </button>
          </div>

          <!-- overlapping audio demo -->
          <div v-if="substate=='DEMO_OVERLAP'">
            <p> Next, all three speakers at once. </p>
            <button @click="overlappingAudioDemo(true)"> Listen </button>
          </div>

          <!-- spreadout audio demo -->
          <div v-if="substate=='DEMO_SPREAD_OUT'">
            <p>Finally, those same speakers spread out in audio space.</p>
            <button @click="spreadoutAudioDemo(true)"> Listen </button>
          </div>

          <div v-if="substate=='DEMO_EVERYTHING'">
            <p> Use these buttons if you'd like to hear the examples again. </p>
            <button @click="singleAudioDemo(false)"> 1 voice </button>
            <button @click="overlappingAudioDemo(false)"> 3 voices, together </button>
            <button @click="spreadoutAudioDemo(false)">  3 voices, spread out </button> <br> <br>
            <p> When you're ready to move on, click the button below. </p>
            <button @click="finishDemo()"> I'm done exploring.</button>
          </div>

        </div>

        <div class="stimulus" v-if="state=='TRIAL'">
          <!-- audio? -->

          <div v-if="substate=='START_STUDY'">
            <p> Please retrieve your experimenter, and ask them any clarifying questions you may have.</p>
            <p> When you're ready, the experimenter will begin the study.</p>
          </div>

          <div class="prompt" v-if="substate=='PROMPT'">
            <span class="fixationcross"> + </span>
          </div>

          <div class="audio" v-if="substate=='AUDIO'">
            <span class="fixationcross"> x </span>
          </div>

          <div class="audio" v-if="substate=='BREAK'">
            <p>
              You're free to take a short break if you'd like.
            </p>
            <p>
              When you are ready to proceed, please click the button below.
            </p>
            <button
              @click="padTrial()">
              Proceed
            </button>
          </div>

          <!-- effort q-->
          <div class="sa" v-if="substate=='EF'">
            <span class="efPrompt">
              Rate your difficulty listening to the target voice:
            </span>
              <div class="efButtons">
                <form>
                  <ul class="efButton">
                    <li>
                      <input type="radio" value="1" v-model="efAnswer">
                      <label>Very difficult</label> <br>
                      <label> 1 </label>
                    </li>
                    <li>
                      <input type="radio" value="2" v-model="efAnswer">
                      <label> Difficult</label> <br>
                      <label> 2 </label>
                    </li>
                    <li>
                      <input type="radio" value="3" v-model="efAnswer">
                      <label>Somewhat difficult</label> <br>
                      <label> 3 </label>
                    </li>
                    <li>
                      <input type="radio" value="4" v-model="efAnswer">
                      <label>Neutral</label> <br>
                      <label> 4 </label>
                    </li>
                    <li>
                      <input type="radio" value="5" v-model="efAnswer">
                      <label>Somewhat easy</label> <br>
                      <label> 5 </label>
                    </li>
                    <li>
                      <input type="radio" value="6" v-model="efAnswer">
                      <label>Easy</label> <br>
                      <label> 6 </label>
                    </li>
                    <li>
                      <input type="radio" value="7" v-model="efAnswer">
                      <label>Very easy</label> <br>
                      <label> 7 </label>
                    </li>
                  </ul>
              </div>
              <button @click="efDone()"> Submit </button>
          </div>

          <!-- MC qs-->
          <div class="mc" v-if="substate=='MC'">
            <span class="mcPrompt"> {{ mcPrompt }} </span>
            <div class="mcButtons">
              <button
                class="mcAnswer"
                v-for="(text, ix) in mcChoices"
                @click="mcDone(text)">
                {{text}}
              </button>
            </div>
          </div>
        </div>

        <div class="end" v-if="state=='END'">
          <p>Thank you for participating in this experiment!
          </p>
          <p>You may now retrieve the experimenter.</p>
        </div>

      </div>
    </div>

    <script src="app.js"></script>
  </body>
</html>
