body,
html {
  height: 100%;
  margin: 0px;
  background-color: #111111;
}

#app {
  height: 100%;
  width: 100%;
}

.scene {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111111;
  color: #eeeeee;
  width: 100%;
  height: 100%;
}

.instruction, .audioDemo, .userInfo, .UIDEntry, .end {
    display: flex;
    flex-direction: column;
    max-width: 90%;
}

.audioDemo > div{
  display: flex;
  flex-direction: column;
}

span, p {
  font-size: 35px;
}

button{
  font-size: 30px;
  border-radius: 10px;
  background-color: #111111;
  background-image: linear-gradient(-5deg,#201040dd,#401050dd);
  color: #eeeeee;
  padding: 10px;
  align-self: center;
  margin-top: 5%;
}

.fixationcross {
  align-self: center;
}









.UIDEntry {
  display: flex;
  flex-direction: column;
}
.UIDEntry button {
  margin-top: 5%;
  align-self: center;
}
.display {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40pt;
}
.efButtons {
  display: flex;
  flex-direction: row;
  margin-top: 3%;
}
.efButtons > form > ul > li {
  list-style: none;
}
.efButton {
  display: flex;
  flex-direction: row;
  padding-left: 0;
}
.efButton > li > input {
  margin-left: 0;
  margin-right: 10px;
}
.efAnswer {
  font-size: large;
  margin-right: 7px;
}
.mcButtons {
  margin-top: 3%;
}
.mcAnswer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-size: large;
}
.prompt {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fixationcross {
  font-size: 100px;
  font-family: sans-serif;
}
label, input {
  font-size: x-large;
}
.text_input{
  width: 650px;
}
